In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("employees.csv")

In [4]:
df.head()

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
1     Thomas    Male   61933     NaN              TRUE              NaN
2      Maria  Female  130590  11.858             FALSE          Finance
3      Jerry    Male     NaN    9.34              TRUE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         931 non-null    object
 1   Gender             852 non-null    object
 2   Salary             998 non-null    object
 3   Bonus %            997 non-null    object
 4   Senior Management  932 non-null    object
 5   Team               957 non-null    object
dtypes: object(6)
memory usage: 47.0+ KB

Salary and Bonus should be Integer and float respectively

In [6]:
df.describe()

       First Name  Gender Salary Bonus % Senior Management             Team
count         931     852    998     997               932              957
unique        201       3    993     968                 4               13
top       Marilyn  Female  91462   8.999              TRUE  Client Services
freq           11     428      2       3               467              105

I'm going to take a look at the salary feature and gender

In [7]:
df["Salary"].head(10)

0     97308
1     61933
2    130590
3       NaN
4    101004
5    115163
6     65476
7     45906
8       NaN
9    139852
Name: Salary, dtype: object

In [8]:
df["Gender"].head(10)

0      Male
1      Male
2    Female
3      Male
4      Male
5      n.a.
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [9]:
df["Gender"].unique()

array(['Male', 'Female', 'n.a.', nan], dtype=object)

In [10]:
missing_value_formats = ["n.a.","?","NA","n/a","na","--"]

In [13]:
df = pd.read_csv("employees.csv", na_values=missing_value_formats)

In [14]:
df["Gender"].head(10)

0      Male
1      Male
2    Female
3      Male
4      Male
5       NaN
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [15]:
df["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

In [16]:
def make_int(i):
    try:
        return int(i)
    except:
        return np.nan

In [18]:
df["Salary"]=df["Salary"].map(make_int)

In [19]:
df.isnull().sum()

First Name            70
Gender               149
Salary                 5
Bonus %                4
Senior Management     71
Team                  48
dtype: int64

In [22]:
new_df=df.dropna(axis=1, how="any")

In [23]:
new_df.shape

(1000, 0)

In [24]:
df["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

In [25]:
df["Gender"] = df["Gender"].fillna("Unknown")

In [26]:
df["Gender"].unique()

array(['Male', 'Female', 'Unknown'], dtype=object)

In [27]:
df["Gender"].isnull().sum()

0

In [28]:
df["Salary"].isnull().sum()

5

In [29]:
df["Salary"].fillna(method="pad")

0       97308.0
1       61933.0
2      130590.0
3      130590.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [30]:
df["Salary"].fillna(method="bfill")

0       97308.0
1       61933.0
2      130590.0
3      101004.0
4      101004.0
         ...
995    132483.0
996     42392.0
997     96914.0
998     60500.0
999    129949.0
Name: Salary, Length: 1000, dtype: float64

In [32]:
df["Salary"].fillna(df["Salary"],method="bfill")

ValueError: Cannot specify both 'value' and 'method'.