In [1]:
##IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_excel('Exercise_1_Descriptive_Stats.xlsx')

In [3]:
dataset.head()

,Customer ID,Entity,Name,Surname,Age at time of purchase,Y,Gender,Country,State,Purpose,Deal satisfaction,Mortgage,Source
0,C0028,Individual,Madalyn,Mercer,19.0,1986.0,F,USA,California,Home,5,No,Website
1,C0027,Individual,Lara,Carrillo,22.0,1983.0,F,USA,California,Home,5,No,Website
2,C0112,Individual,Donavan,Flowers,22.0,1985.0,M,USA,California,Home,1,Yes,Client
3,C0160,Individual,Darien,Dorsey,22.0,1985.0,M,USA,California,Investment,3,Yes,Website
4,C0014,Individual,Alessandra,Perry,25.0,1979.0,F,USA,California,Home,4,No,Agency

In [4]:
dataset.dtypes

Customer ID                 object
Entity                      object
Name                        object
Surname                     object
Age at time of purchase    float64
Y                          float64
Gender                      object
Country                     object
State                       object
Purpose                     object
Deal satisfaction            int64
Mortgage                    object
Source                      object
dtype: object

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer ID              195 non-null    object
 1   Entity                   195 non-null    object
 2   Name                     195 non-null    object
 3   Surname                  195 non-null    object
 4   Age at time of purchase  178 non-null    float64
 5   Y                        178 non-null    float64
 6   Gender                   178 non-null    object
 7   Country                  195 non-null    object
 8   State                    181 non-null    object
 9   Purpose                  195 non-null    object
 10  Deal satisfaction        195 non-null    int64
 11  Mortgage                 195 non-null    object
 12  Source                   195 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 19.9+ KB